.svg-about_one-dims {
	width: 48px;
	height: 48px;
}

.svg-about_three-dims {
	width: 52px;
	height: 52px;
}

.svg-about_two-dims {
	width: 48px;
	height: 48px;
}

.svg-dorohov-dims {
	width: 101px;
	height: 35px;
}

.svg-form_comm-dims {
	width: 24px;
	height: 24px;
}

.svg-form_email-dims {
	width: 23px;
	height: 23px;
}

.svg-form_name-dims {
	width: 24px;
	height: 24px;
}

.svg-form_phone-dims {
	width: 23px;
	height: 23px;
}

