.svg-about_one-dims {
	width: 48px;
	height: 48px;
}

.svg-about_three-dims {
	width: 52px;
	height: 52px;
}

.svg-about_two-dims {
	width: 48px;
	height: 48px;
}

.svg-docs-dims {
	width: 43px;
	height: 43px;
}

.svg-dorohov-dims {
	width: 101px;
	height: 35px;
}

.svg-form_comm-dims {
	width: 24px;
	height: 24px;
}

.svg-form_email-dims {
	width: 23px;
	height: 23px;
}

.svg-form_name-dims {
	width: 24px;
	height: 24px;
}

.svg-form_phone-dims {
	width: 23px;
	height: 23px;
}

.svg-program1-dims {
	width: 45px;
	height: 45px;
}

.svg-program2-dims {
	width: 46px;
	height: 46px;
}

.svg-program3-dims {
	width: 45px;
	height: 45px;
}

.svg-program4-dims {
	width: 45px;
	height: 45px;
}

.svg-program5-dims {
	width: 45px;
	height: 45px;
}

.svg-program6-dims {
	width: 45px;
	height: 45px;
}

.svg-program7-dims {
	width: 47px;
	height: 47px;
}

.svg-program8-dims {
	width: 45px;
	height: 45px;
}

