.container {
    max-width: #{1560px + (30px * 2)};
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin: 0 auto;
    &.is--sm {
        max-width: #{1290px + (30px * 2)};
    }
}

.slide {
    padding-top: 95px;
    padding-bottom: 95px;
    &.is--sm {
        padding-top: 50px;
        padding-bottom: 50px;
        @media (max-width: $resp768) {
            padding-top: 45px;
            padding-bottom: 45px;
        }
    }
}

.heading {
    color: #000;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 45px;
    &.is--center {
        text-align: center;
    }
}

.content {
    max-width: 75%;
}

.breadcrumbs {
    margin-bottom: 40px;
    ul {
        display: flex;
        li {
            font-size: 14px;
            padding-right: 5px;
            a { 
                color: #A4A4A4;
                &::after {
                    content: ' ... ';
                    color: #A4A4A4 !important;
                }
                &:hover {
                    color: $red;
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.page {
    p {
        font-size: 16px;
        line-height: 21px;
        margin: 0 0 15px 0;
    }
    .heading {
        margin-bottom: 35px;
    }
    @media (max-width: $resp768) {
        br {
            display: none;
        }
    }
}

@media (max-width: $resp768) {
    .heading {
        font-size: 24px;
        margin-bottom: 35px;
    }
    .breadcrumbs {
        display: none;
    }
    .content {
        max-width: 100%;
    }
    .page {
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }
}