.container {
    max-width: #{1560px + (30px * 2)};
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin: 0 auto;
}

.slide {
    padding-top: 95px;
    padding-bottom: 95px;
}

.heading {
    color: #000;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
    &.is--center {
        text-align: center;
    }
}