.banner {
    min-height: calc(100vh - 100px);
    background: url(../../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    &__line {
        width: 100%;
        background: rgba(#FFFFFF, .7);
        &__inner {
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
        }
        &__title {
            font-family: 'Oswald';
            font-weight: 500;
            font-size: 48px;
            line-height: 71px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        &__desc {
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            font-family: 'Oswald';
            margin-bottom: 50px;
        }
    }
}

.in {
    &-one {
        &__desc {
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-size: 16px;
            line-height: 21px;
        }
    }
}

@media (max-width: $resp1025) {
    .banner {
        min-height: calc(100vh - 70px);
    }
}

@media (max-width: $resp768) {
    .banner {
        padding-bottom: 50px;
        &__line {
            &__inner {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            &__title {
                font-size: 28px;
                line-height: 40px;
            }
            &__desc {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 30px;
                br {
                    display: none;
                }
            }
        }
    }
}