$resp1920:  1920px;
$resp1400:  1400px;
$resp1200:  1200px;
$resp1025:  1025px;
$resp768:   768px;
$resp320:   320px;

$red:       #DC0032;
$red_h:     #E94551;
$black:     #072A39;
$white:     #F7F7F7;
$grey:      #DEDEDE;